table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 6px;
}

td {
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    border-radius: 6px;
    background-color: dimgrey;
}