@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

body {
    justify-content: center;
    margin: 20px;
    background-color: whitesmoke;
    text-align: center;
}

.container {
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 15px;
    margin: 10px;
    display: inline-block;
    background-color: #f7d5d5;
    border: 1.5px solid black;
    border-radius: 6px;
    box-shadow: 0 15px 4px rgba(0, 0, 0, .2);
    max-width: 65%;
}

.container__main {
    margin: 10px;
}

.container__main_header {
    font-size: 20px;
    font-weight: bold;
}

.select-css {
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 550;
    height: 25px;
    border-radius: 6px;
    border: 1.5px solid black;
}